section.wd-projects
	.container 
		h2 projects
		.projects-list.swiper-container
			.swiper-wrapper.projects-list-wrapper.clearfix
				.projects-item.swiper-slide
					a(href="#").projects
						.img 
							img(src="./img/index/n-2.png", alt="")
						.content
							p Outstanding Project 
							h3 CHUBBY HOUSE BUILDING 
							h4 View Detail 
								i.mid.mdi-arrow-right
				.projects-item.swiper-slide
					a(href="#").projects
						.img 
							img(src="./img/index/n-2.png", alt="")
						.content
							p Outstanding Project 
							h3 CHUBBY HOUSE BUILDING 
							h4 View Detail 
								i.mid.mdi-arrow-right
				.projects-item.swiper-slide
					a(href="#").projects
						.img 
							img(src="./img/index/n-2.png", alt="")
						.content
							p Outstanding Project 
							h3 CHUBBY HOUSE BUILDING 
							h4 View Detail 
								i.mid.mdi-arrow-right
		.swiper-nav
			.swiper-prev
				i.mid.mdi-chevron-left
			.swiper-next
				i.mid.mdi-chevron-right