header
	background: #ffffff
	width: 100%
	top: 0
	left: 0
	position: fixed
	z-index: 10
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)
	@media (max-width: 991.9px)
		z-index: 10
		.backdrop
			position: fixed
			top: 0
			right: 0
			width: 100%
			height: 100%
			background: rgba(0,0,0,.55)
			transform: translateX(100%)
			transition: all .5s cubic-bezier(.2,.5,.5,.8)
			&.active
				width: 100%
				transform: translateX(0)
	.top-header
		background: #0875bb
		padding: 0
		display: block
		font-size: 14px
		color: white
		.row
			align-items: center
	.hotline,.mail,.customer-service
		padding: 0 20px
		border-left: 1px solid #5ab7f3
		height: 20px
		display: flex
		a
			display: flex
			align-items: center
			&:hover
				color: #8dc444
		.mdi
			font-size: 18px
			color: #8dc444
			margin-right: 7px
	.hotline
		margin-left: auto
		padding-left: 0
		border-left: 0
	.language
		background: #055A91
		display: inline-flex
		align-items: center
		padding: 5px 10px
		@media (max-width: 992px)
			margin-left: 15px
			background: transparent
		.box-img
			width: 30px
			height: 30px
			margin-right: 10px
			overflow: hidden
			border: 2px solid rgba(255, 255, 255, 0.5)
			border-radius: 99px
		img
			width: 100%
			height: 100%
			object-fit: cover
		select
			background: #055A91
			border: none
			outline: none
			color: #fff
			font-size: 14px
			@media (min-width: 992px)
				font-size: 13px
			@media (min-width: 1200px)
				font-size: 14px
			@media (max-width: 992px)
				background: transparent
				color: #055A91
	.bottom-header
		height: 80px
		
	.logo-wrapper
		text-align: center
		@media (min-width: 992px)
			width: 160px
			margin-top: -39px
			padding-top: 10px
			position: relative
			img
				width: 140px
				position: relative
			&:before
				position: absolute
				height: 40px
				width: 100%
				background: url('../img/logo_bg.png')
				background-position: top
				background-repeat: no-repeat
				background-size: 100%
				content: ''
				top: 0
				left: 0
	.main-nav
		height: 80px
		margin-left: auto
		>ul
			list-style-type: none
			display: flex
			align-items: center
			height: 100%
			font-size: 15px
			padding-left: 0
			>li
				+ li
					margin-left: 35px
				>a
					display: inline-flex
					border-bottom: 1px solid transparent
					line-height: 1
					padding: 3px 0
				&.active
					>a
						color: #0875bb
						border-bottom: 1px solid #0875bb
				@media (min-width: 992px)
					&:hover
						>a
							color: #0875bb
							border-bottom: 1px solid #0875bb
		@media (max-width: 1199.9px)
			>ul
				font-size: 14px
				>li
					+ li
						margin-left: 20px
		@media (min-width: 992px)
			ul
				>li
					position: relative
					&:hover
						.menu-sub
							display: block
				.menu-sub
					position: absolute
					left: 50%
					transform: translateX(-50%) translateY(15px)
					top: 100%
					list-style-type: none
					background: white
					padding-left: 0
					padding: 30px
					font-size: 15px
					box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3)
					border-radius: 5px
					display: none
					&:before
						content: ''
						position: absolute
						width: 100%
						height: 15px
						bottom: 100%
						left: 0
						background: transparent
					&:after
						content: ''
						border-left: 15px solid transparent
						border-right: 15px solid transparent
						border-bottom: 12px solid white
						position: absolute
						bottom: 100%
						left: 50%
						transform: translateX(-50%)
					a
						white-space: nowrap
						display: inline-block
						line-height: 20px
						padding: 14px 0
						color: #333333
						text-transform: uppercase
						min-width: 190px
					li
						&:before
							position: absolute
							content: ''
							width: 0
							height: 2px
							top: 100%
							left: 0
							background-image: linear-gradient(90deg, rgb(139,197,60) 0%, rgb(8,117,187) 100%)
							transition: all .4s cubic-bezier(.2,.5,.5,.8)
							margin-top: -5px
						&:hover
							&:before
								width: 100%
							a
								font-weight: 700
								color: #0875bb
	.search
		margin-left: 16px
		display: flex
		align-items: center
		position: relative
		.mdi
			cursor: pointer
			font-size: 20px
			color: #8dc444
		button
			background: transparent
			border: 0
		.search-box
			position: absolute
			top: 100%
			right: 0
			background: white
			display: none
			padding: 20px
			box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3)
			input
				height: 35px
				width: 240px
				padding: 5px 15px
				border: 1px solid rgba(0,0,0,.3)
			button
				position: absolute
				width: 35px
				height: 35px
				top: 20px
				right: 20px
			input, button
				&:focus
					outline: none
	.mobile-header
		display: none
	.toggle-menu
		display: none
	@media (max-width: 991.98px)
		.customer-service,.mail
			display: none
		.language
			position: relative
			padding: 5px 0
			select
				position: absolute
				width: 30px
				height: 30px
				top: 5px
				left: 0px
				-webkit-appearance: none
				font-size: 0
				option
					font-size: 15px
			.box-img
				margin-right: 0
		.hotline
			margin-left: 0
			margin-right: auto
		.logo-mobile
			text-align: center
			position: relative
			padding: 10px 0
			img
				width: 100px
			&:before
				position: absolute
				top: 100%
				left: -10px
				right: -10px
				height: 2px
				background-image: linear-gradient(90deg, rgb(139,197,60) 0%, rgb(8,117,187) 100%)
				content: ''
		.bottom-header
			height: 60px
			.container,.row
				height: 100%
		.logo-wrapper
			width: 80px
		.mobile-header
			display: block
			position: fixed
			top: 0
			bottom: 0
			left: 0
			background: white
			width: 290px
			padding: 10px
			transform: translateX(-100%)
			transition: all .5s cubic-bezier(.2,.5,.5,.8)
			&.open
				transform: translateX(0)
		.hotline-mobile
			position: absolute
			bottom: 10px
			left: 10px
			right: 10px
			a
				height: 40px
				display: flex
				justify-content: center
				align-items: center
				background: #0875ba
				color: white
				border-radius: 20px
				font-size: 16px
				font-weight: 700
				.mdi
					color: #8dc444
					margin-right: 5px
		.main-nav
			height: 380px
			margin-top: 10px
			overflow-y: auto
			overflow-x: hidden
			padding: 20px 0
			ul
				display: block
				>li
					flex: 0 0 100%
					max-width: 100%
					+ li
						margin-left: 0
					>a
						display: inline-block
						padding: 8px 0
						line-height: 20px
					&.active
						a
							border-bottom: 0
					&.has-sub
						position: relative
						&:after
							position: absolute
							right: 0
							top: 5px
							color: #9dcc64
							font-size: 18px
							content: '\F415'
							font-family: 'Material Design Icons'
				.menu-sub
					list-style-type: none
					padding: 15px 20px
					background: #f5f5f5
					margin: 0 -10px
					text-transform: uppercase
					font-size: 13px
					display: none
					a
						padding: 5px 0
		.search
			margin-left: auto
			>.mdi
				font-size: 26px
		.toggle-menu
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-end
			margin-left: 10px
			span
				width: 26px
				height: 3px
				background-image: linear-gradient(90deg, rgb(139,197,60) 0%, rgb(8,117,187) 100%)
				display: block
				margin: 2px 0
				&:nth-child(3)
					width: 20px